/* Global reset. */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*
Text: #C49365
Bg:   #2C403D
 */

.app-content {
    font-family: 'Libre Baskerville', serif;
    color: #C49365;
}

.page-block {
    height: 100%;
    width: 100%;
}
