/* Global reset. */
* {
    margin:0;
    padding:0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*
Text: #C49365
Bg:   #2C403D
 */

.app-content {
    font-family: 'Libre Baskerville', serif;
    color: #2C403D;

    position: relative;
    text-align: center;
}

.header {
    display: inline-block;

    margin-top: 5%;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.logo-img {
    width: 200px;
    height: auto;
    float: left;
}

@media only screen and (max-width: 500px) {
    .logo-img {
        width: 150px;
    }
}

.logo-text {
    position: relative;
    top: 130px;
    left: -70px;

    float: left;
}

.logo-text .t {
    font-size: 30pt;
}

.logo-text .b {
    font-size: 25pt;
    margin-top: -12px;
    margin-left: 6px;
}

.logo-text .p {
    font-size: 11pt;
    margin-top: -6px;
    margin-left: 6px;
}

@media only screen and (max-width: 500px) {
    .logo-text {
        top: 100px;
        left: -60px;
    }
    .logo-text .t {
        font-size: 25pt;
    }

    .logo-text .b {
        font-size: 20pt;
        margin-top: -10px;
    }

    .logo-text .p {
        font-size: 10pt;
        margin-top: -5px;
        margin-left: 8px;
    }
}

.nav {
    margin-top: 60px;
    font-size: 13pt;
}

.nav::after {
    content: '';
    display: table;
    clear: both;
}

.nav-sep {
    position: relative;
    text-align: center;
    float: left;

    height: 22px;
    width: 5%;
}

/* TODO getting a vertically centered separation div */
.nav-sep .line {
    display: inline-block;
    margin-top: 5.5px;
    margin-bottom: 5.5px;

    width:1px;
    height: 10px;
    background-color: #2C403D;
}

.nav-item {
    display: block;
    float: left;
    width: 23.33%;

    text-decoration: none;
    color: inherit;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.02);
    color: black;
}

.nav-nature {
    margin-left: 10%;
}

.nav-portrait {
    margin-right: 10%;
}

@media only screen and (max-width: 500px) {
    .nav-sep {
        display: none;
    }

    .nav-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-nature {
        margin-left: 0;
    }

    .nav-portrait {
        margin-left: 0;
    }
}
