.header {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    color: #2C403D;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.logo-text {
    position: relative;
    float: left;
}

.logo-text .drop-caps {
    font-size: 110%;
    margin-right: -4px;
}

.logo-text .t {
    font-size: 30pt;
}

.logo-text .b {
    font-size: 25pt;
    margin-top: -12px;
    margin-left: 6px;
}

.logo-text .p {
    font-size: 11pt;
    margin-top: -6px;
    margin-left: 6px;
}
