.image-grid {}

.image-grid-row {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.image-grid-row .img-wrapper {
    flex-basis: 0px;

    padding: 5px;
}

.image-grid-row img {
    width: 100%;

    border-radius: 2px;
}
