
/*
brown: #C49365
gray:   #2C403D
 */

.about-me-page {
    text-align: center;
    position: relative;

    height: 100vh;
    width: 100%;

    background-color: #2C403D;
}

.about-me-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.about-me-page h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 17pt;
    color: #C49365;
}

.about-me-page h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 13pt;

    padding-bottom: 40px;

    color: #C49365;
}

.about-me-page p {
    font-family: 'Libre Baskerville', serif;
    font-size: 10pt;
    color: #C49365;

    line-height: 1.5;
    margin: 20px 0;

    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-image {
    z-index: 1;
    
    width: 150px;
    padding-top: 20px;

    border-radius: 300px;
}

.about-me-underlay {
    width: 100%;
    padding-top: 100px;

    position: relative;
    top: -85px;

    box-shadow: 5px 5px 10px -4px #1d2d2b;
    background-color: #253634;
    border-radius: 3px;
}

@media only screen and (max-width: 500px) {
    .about-me-page h1 {
        font-size: 14pt
    }

    .about-me-page p {
        font-size: 8pt;
    }

    .about-me-page h2 {
        font-size: 10pt;
    }
}

.about-me-social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;

    padding: 10px 50px;

    width: 100%;

    box-shadow: -5px -5px 10px -4px #1d2d2b;
    background-color: #253634;
    border-radius: 3px;
}

.about-me-social-media a {
    font-size: 15pt;
    text-decoration: none;
}

.about-me-social-media .copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;

    font-family: 'Signika Negative', sans-serif;
    font-size: 6pt;
    color: #3d4c49;
}

.about-me-social-media .facebook {
    color: #3b5998;
}

.about-me-social-media .twitter {
    color: #00aced;
}

.about-me-social-media .instagram {
    color: #517fa4;
}
