
/*
brown: #C49365
gray:   #2C403D
 */

.about-me-page {
    text-align: center;
    position: absolute;
    top: 100%;

    min-height: 100%;
    width: 100%;

    background-color: #2C403D;
}

.about-me-page h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 18pt;
    color: #C49365;
}

.about-me-page h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 14pt;
    color: #C49365;

    margin-top: 5%;
}

.about-me-page p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
    color: #C49365;

    line-height: 1.5;

    margin-top: 3%;
    margin-bottom: 3%;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.about-me-image {
    width: 250px;
    margin-top: 4%;
    margin-bottom: 4%;

    border-radius: 300px;
}

@media only screen and (max-width: 800px) {
    .about-me-image {
        width: 200px;
    }
}

.about-me-social-media {
    display: flex;
    justify-content: space-around;

    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    min-width: 300px;
}

.about-me-social-media a {
    font-size: 20pt;
    text-decoration: none;
}

.about-me-social-media .facebook {
    color: #3b5998;
}

.about-me-social-media .twitter {
    color: #00aced;
}

.about-me-social-media .instagram {
    color: #517fa4;
}
