
/*
brown: #C49365
gray:   #2C403D
 */


.gallery-page {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;

    overflow: scroll;
    background-color: #2C403D;
}

.gallery-logo {
    position: relative;
}

.back-button {
    display: block;

    text-decoration: none;
    color: inherit;

    width: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    /* Fix weird bug where transforms move div 1p. */
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

    font-family: 'Libre Baskerville', serif;
    font-size: 13pt;
    color: #C49365;

}

.back-button:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.075);
    color: #de9d5f;
    border-radius: 2px;
}

.back-button .drop-caps {
    font-size: 115%;
    margin-right: 1px;
}

.gallery-line {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    width: 40%;
    height: 1px;
    background: rgb(102, 94, 73);
}

.gallery-line:last-of-type {
    margin-bottom: 5%;
}

.gallery-text {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 160px;

    width: 200px;
    margin: 0 auto;

    font-family: 'Libre Baskerville', serif;
    font-size: 8pt;
    color: #C49365;
}

.gallery-page .logo {
    display: inline-block;
    height: 200px;

    margin-top: 40px;
}

.gallery-page .image-grid {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
}
