/* Global reset. */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.front-wrapper {
    height: 100vh;

    overflow: scroll;
}

.front-wrapper::-webkit-scrollbar {
    display: none;
}

body {
    overflow:hidden;
}

/*
brown: #C49365
gray:   #2C403D
 */
